* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* Common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 60px;
  height: var(--height);
  display: inline-block;
  color: #fff;
  background: #2e80ce;
  padding: 0 20px;
  line-height: var(--height);
  border-radius: 99px;
  min-width: 205px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid#2e80ce;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.section-heading {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #10375c;
}

.section-desc {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  color: #575f66;
  margin-top: 18px;
}

.control {
  display: flex;
  column-gap: 18px;
}

.control__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  border: 1px solid #575f66;
  outline: none;
  background: #fff;
  color: #575f66;
  transition: 0.25s;
}

.control__btn:hover {
  border-color: #2e80ce;
  background: #2e80ce;
  color: #fff;
  cursor: pointer;
}

.control-next-icon {
  rotate: 180deg;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

/*Header*/
.header {
  min-height: 100vh;
  background-color: var(--header-bg);
  padding: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 1rem; /*~10px*/
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  color: #fff;
  line-height: 1.6em;
}

.logo__brand {
  font-size: 1.8em;
  font-weight: 400;
  display: block;
  font-family: Sora, sans-serif;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

.navbar__list {
  display: flex;
}

.header-action__login,
.navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 4px 21px;
}

.navbar__link:hover,
.navbar__item--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__item--active::before {
  position: relative;
  left: -8px;
  top: -2px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.header-action {
  display: flex;
  align-items: center;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}

.header-action__login {
  margin-right: 7px;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.hero__description {
  margin-top: 22px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #c9d2da;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero__phone {
  font-size: 18px;
  line-height: 1.67;
  margin-left: 38px;
  color: #fff;
}

.hero__images {
  margin-left: 113px;
  display: flex;
  align-items: center;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}
.hero__img:first-child {
  margin-right: -6px;
  position: relative;
}
.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* Service */
.service {
  padding: 170px 0;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.service_img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.service-item {
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  padding: 22px;
  transition: 0.25s;
}

.service-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05);
  position: relative;
}

.service-item:hover .service-item__icon {
  background: #2e80ce;
  color: #eff6fd;
}

.service-item__icon {
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  color: #10375c;
}

.service-item__body {
  margin-left: 20px;
}
.service-item__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.27;
  color: #10375c;
}

.service-item__desc {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  color: #575f66;
}

.service__list {
  margin-bottom: 50px;
}

/* Work */
.work {
  background: #f6fbff;
  padding: 100px 0;
}

.work__desc {
  width: 468px;
}

.work__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work__item {
  padding: 44px 44px;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work__item:hover {
  border: 16px solid #2e80ce;
  transform: translateY(-16px);
}

.work__item--heading {
  margin-top: 20px;
  color: #10375c;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 138.462% */
}

.work__item--desc {
  margin-top: 28px;
  color: #575f66;

  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
}

.work__item--more {
  color: #2e80ce;
  display: inline-block;
  margin-top: 18px;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

/* Feature */
.fearture {
  margin-top: 85px;
  padding: 85px 0;
}

.feature__iner {
  display: flex;
  column-gap: 137px;
  align-items: center;
}

.feature__media {
  width: 48%;
}

.feature__images {
  position: relative;
  padding: 0 58px 121px 0;
}

.feature__img {
  width: 512px;
  height: 370px;
  border-radius: 16px;
  object-fit: cover;
}

.feature__img:last-child {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 332px;
  height: 270px;
  border-radius: 16px;
}

.feature__cta {
  margin-top: 38px;
}

/* Member */
.member {
  padding: 85px 0;
}

.member__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__cta {
  margin-top: 38px;
}

.member__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.member__control {
  margin-top: 38px;
  justify-content: center;
}

.member__item:hover .member__item-thumbs {
  transform: scale(1.2);
  transition-duration: 1000ms;
  z-index: 100;
}

.member__item__img-bg {
  background: #eaf6ff;
  padding: 28px 4px 0 4px;
  border-radius: 6px;
  overflow: hidden;
}

.member__item-thumbs {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 290px;
  transition: 0.25s;
}

.member__item--name {
  color: #10375c;
  margin-top: 12px;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75; /* 175% */
}

.member__item--des {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.85; /* 185.714% */
}

/* Install */
.install {
  margin-top: 180px;
}

.install__iner {
  border-radius: 4px;
  background: #2e80ce;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.install__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  margin-top: -95px;
  display: block;
}

.install__content {
  max-width: 586px;
}

.install__heading,
.install__desc {
  color: #fff;
}

.install__heading {
  max-width: 489px;
}

.install__desc {
  color: #fff;

  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}

.install__row {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
}

/* News */
.news {
  margin-top: 85px;
  padding: 85px 0;
}

.news__iner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news__content {
  flex-shrink: 0;
}

.news__heading {
  max-width: 470px;
}

.news__more {
  color: #10375c;
  display: block;
  margin-top: 28px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.news__control {
  margin-top: 28px;
}

.news__list {
  max-width: 570px;
  display: flex;
  column-gap: 30px;
}

.news-item {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.25s;
}

.news-item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  /* transform: translateY(-18px) translateX(-18px); */
}

.news-item:hover .news-item__img {
  transform: scale(1.2);
}

.news-item:hover .news-item__body {
  border-color: #fff;
}

.news-item__thumb {
  /* height: 172px; */
  overflow: hidden;
}
.news-item__img {
  width: 100%;
  height: 172px;
  object-fit: cover;
  display: block;
  transition: 0.75s;
}

.news-item__body {
  padding: 22px 22px 16px;
  border: 1px solid #e8ebee;
  border-top: none;
  background: #fff;
  border-radius: 0 0 12px 12px;
  transition: 0.25s;
}

.news-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625; /* 162.5% */
}

.news-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}

.news-item__more {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 500;
}

.news-item__more:hover {
  color: #2e80ce;
}

/* Appointment */
.appointment {
  margin: 85px 0 170px;
}

.appointment__inner {
  text-align: center;
  background: #f6fbff;
  padding: 100px 70px;
  border-radius: 4px;
}
.appointment__heading {
  position: relative;
  padding-bottom: 16px;
}

.appointment__heading::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  flex-shrink: 0;
  background: #2e80ce;
}

.appointment__desc {
  max-width: 617px;
  margin: 0 auto;
  margin: 18px auto 38px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

/* Footer */
.footer {
  background: #10375c;
  padding-top: 100px;
  font-family: "Open Sans", sans-serif;
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}

.footer__desc {
  width: 336px;
  color: #a9b3bb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  margin-top: 21px;
}

.footer__heading {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer__list {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  white-space: nowrap;
}

.footer__link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer__social {
  display: flex;
  column-gap: 10px;
  margin-bottom: 28px;
}

.footer__social-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* background: #fff; */
}

.footer__form {
  display: flex;
  margin-top: 10px;
  column-gap: 12px;
}

.footer__form input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid #406181;
  width: 212px;
  height: 46px;
  outline: none;
  padding: 0 10px;
  color: #fff;
}

.footer__form input::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.footer__submit {
  --height: 46px;

  min-width: 108px;
  border-radius: 4px;
  background: #2e80ce;
  text-align: center;

  color: #fff;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.85; /* 185.714% */
}

.footer__copyright-text {
  color: #aab3ba;

  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  padding: 28px 0 42px;
}

.footer__copyright {
  border-top: 1px solid #406181;
}
